name: Autograding Tests

on:
  push:
  repository_dispatch:

permissions:
  checks: write
  actions: read
  contents: read

jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest

      - name: Run Pytest
        id: tests
        uses: classroom-resources/autograding-command-grader@v1
        with:
          test-name: "tests"
          command: "pytest -q --disable-warnings --maxfail=1"
          timeout: 600
          max-score: 100

      - name: Autograding Reporter
        uses: classroom-resources/autograding-grading-reporter@v1
        env:
          TESTS_RESULTS: ${{ steps.tests.outputs.result }}
        with:
          runners: tests
